extends layout.pug
block content
  - const time = new Date()
  h1 James the Baker
  p Today's date is #{time}
  img(src='/images/PhotoFunia-1490286146.jpg', alt='Baker photo')
  p James the Baker has been baking baked goods since the beginning of baking baked goods began.  Besides baking baked goods James the baker enjoys baking and baking
