extends layout.pug

block content
  h1 West Bakery

  img(src='/images/bakery-1868925_1920.jpg', alt='Baker photo')

  h4 Bio
  p West Bakery is the newest addition to the Nashville baked goods scene.  Although there were those who thought the bakery would sign with a known bakery corporation, they were wrong.  West Bakery has opened up shop and created this website all on it's own.
