extends layout.pug

block content
  h1.center-text West Bakery

  img.storeImg(src='/images/bakery-1868925_1920.jpg', alt='Baker photo')

  h2 Bio
  p.center-container West Bakery is the newest addition to the Nashville baked goods scene.  Although there were those who thought the bakery would sign with a known bakery corporation, they were wrong.  West Bakery has opened up shop and created this website all on it's own.
