ul.navbar
  if title === 'Home'
    a(href='/about')
      li.nav About
    a(href='/inventory')
      li.nav Inventory
  else if title === 'About'
    a(href='/')
      li.nav Home
    a(href='/inventory')
      li.nav Inventory
  else if title === 'Inventory'
    a(href='/')
      li.nav Home
    a(href='/about')
      li.nav About



